button{
    color:black;
    padding : 10px;
}
span:hover{
   
    background-color: whitesmoke;
}
.headerComp h1 {
    
    float:left;
    
}

.headerComp button{
    float:right;
    border-radius:10px;
    border-style:none;
    background-color: rgba(0,200,0,0.5);
}